.logoutButton{
}

.logoutButton a{
	display: block;
	width: 100%;
	background-color: #D9D9D9;
	padding: 10px;
	text-decoration: none;
	color: #333333;
	text-align:center;
}

.logoutButton a:hover{
	background-color: #C5C5C5;
}

.has-search{
	margin-bottom: 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
	border-radius: 0;
}

.mojaKlasa{
	border-radius: 0;
	margin-top: 1em;
	margin-bottom: 0!important;
}

.explorer{
	margin-right: 5px;
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	height: 400px;
}

.leftPanel{
	float: left;
	width: 15%;
	height: 100%;
	border-right: 1px solid #EAEAEA;
}

.rightPanel{
	float: right;
	padding: 10px;
	width: 85%;
	font-size: 19px;
}

.folder, .file{
	display: inline-block;
	padding: 5px;
	height: 40 px;
	margin-right: 5px;
}

.folder i, .file i{
	font-size: 24px;
}

.folder:hover, .file:hover{
	cursor: pointer;
}

.goodJob{
	display: none;
}

.goodJob i{
	float: right;
	position: relative;
	top: -30px;
}

.goodJob i:hover{
	cursor: pointer;
}